<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding clear">
      <div style="display: inline-block" class="Ripen_{{ dose.id }}"></div>
      <div style="display: inline-block" class="Bloom_{{ dose.id }}"></div>
      <div style="display: inline-block" class="Micro_{{ dose.id }}"></div>
      <div style="display: inline-block" class="Grow_{{ dose.id }}"></div>
      <div style="display: inline-block" class="pHDown_{{ dose.id }}"></div>
      <div style="display: inline-block" class="Water_{{ dose.id }}"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-no-padding clear">
      <div class="f-left doses" [ngStyle]="styleDoses"></div>
      <div class="f-left" [ngStyle]="stylePhDown"></div>
      <div class="f-left" [ngStyle]="styleWater"></div>
    </ion-col>
  </ion-row>
</ion-grid>
