<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button><ion-icon slot="icon-only" name="menu"></ion-icon></ion-button>
            </ion-menu-toggle>  
        </ion-buttons>
        
        <ion-title>Edit {{ page }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="form"  [hidden]=" !showForm ">
        <ion-input type="hidden" formControlName="id"></ion-input>
        <ion-input type="hidden" formControlName="deleted"></ion-input>
        <ion-input type="hidden" formControlName="lastUpdate"></ion-input>
        
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label color="primary">{{ 'translate.pages.settings.detail.form.night_mode_off' | translate }}</ion-label>
                        <ion-datetime display-format="h:mm A" picker-format="h:mm A" text-right placeholder="{{ 'translate.pages.settings.detail.form.night_mode_off' | translate }}" formControlName="night_mode_off"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label color="primary">{{ 'translate.pages.settings.detail.form.night_mode_on' | translate }}</ion-label>
                        <ion-datetime display-format="h:mm A" picker-format="h:mm A" placeholder="{{ 'translate.pages.settings.detail.form.night_mode_on' | translate }}" formControlName="night_mode_on"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label color="primary">{{ 'translate.pages.settings.detail.form.pin_ec_gnd' | translate }}</ion-label>
                        <ion-input type="text" text-right placeholder="{{ 'translate.pages.settings.detail.form.pin_ec_gnd' | translate }}" formControlName="pin_ec_gnd"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label color="primary">{{ 'translate.pages.settings.detail.form.pin_ec_vcc' | translate }}</ion-label>
                        <ion-input type="text" text-right placeholder="{{ 'translate.pages.settings.detail.form.pin_ec_vcc' | translate }}" formControlName="pin_ec_vcc"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label color="primary">{{ 'translate.pages.settings.detail.form.pin_ph_gnd' | translate }}</ion-label>
                        <ion-input type="text" text-right placeholder="{{ 'translate.pages.settings.detail.form.pin_ph_gnd' | translate }}" formControlName="pin_ph_gnd"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label color="primary">{{ 'translate.pages.settings.detail.form.pin_ph_vcc' | translate }}</ion-label>
                        <ion-input type="text" text-right placeholder="{{ 'translate.pages.settings.detail.form.pin_ph_vcc' | translate }}" formControlName="pin_ph_vcc"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label color="primary">{{ 'translate.pages.settings.detail.form.pin_t_gnd' | translate }}</ion-label>
                        <ion-input type="text" text-right placeholder="{{ 'translate.pages.settings.detail.form.pin_t_gnd' | translate }}" formControlName="pin_t_gnd"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label color="primary">{{ 'translate.pages.settings.detail.form.pin_t_vcc' | translate }}</ion-label>
                        <ion-input type="text" text-right placeholder="{{ 'translate.pages.settings.detail.form.pin_t_vcc' | translate }}" formControlName="pin_t_vcc"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.settings.detail.form.date_time' | translate }}</ion-label>
            <ion-input type="text" text-right placeholder="{{ 'translate.pages.settings.detail.form.date_time' | translate }}" formControlName="date_time"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.settings.detail.form.store_data' | translate }}</ion-label>
            <ion-input type="text" text-right placeholder="{{ 'translate.pages.settings.detail.form.store_data' | translate }}" formControlName="store_data"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.settings.detail.form.work_mode' | translate }}</ion-label>
            <ion-input type="text" text-right placeholder="{{ 'translate.pages.settings.detail.form.work_mode' | translate }}" formControlName="work_mode"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.global.enabled' | translate }}</ion-label>
            <ion-toggle formControlName="enabled"></ion-toggle>
        </ion-item>

        <ion-button color="primary" expand="block" (click)="saveForm()" [hidden]=" !showForm " [disabled]=" !isReadyToSave ">
                {{ 'translate.global.submit' | translate }}
        </ion-button>
      </form>

</ion-content>
