<ion-card>
  <ion-card-content>
    <div class="label">
      {{ plant.phase?.name }} &mdash;
      {{
        plant.daysFromFlush
          ? plant.daysFromFlush
          : plant.daysFromBloom
            ? plant.daysFromBloom
            : plant.daysFromGrow
      }}/{{ plant.phase?.duration }}d
      <div class="pull-right">
        Tot
        {{
          (+plant.daysFromGrow + +plant.daysFromBloom + +plant.daysFromFlush) /
            7 | number: "1.0-0"
        }}w
      </div>
    </div>
    <div class="bar" [ngStyle]="style | sanitizeHtml:'style'">
      <div class="macrophase" [ngStyle]="{width: plantdaysFromGrowPerc} | sanitizeHtml:'style'">
        {{ +plant.daysFromGrow / 7 | number: "1.0-0" }}w
      </div>
      <div class="macrophase" [ngStyle]="{width: plantdaysFromBloomPerc} | sanitizeHtml:'style'">
        {{ +plant.daysFromBloom / 7 | number: "1.0-0" }}w
      </div>
      <div class="macrophase" [ngStyle]="{width: plantdaysFromFlushPerc} | sanitizeHtml:'style'">
        {{ +plant.daysFromFlush / 7 | number: "1.0-0" }}w
      </div>
    </div>
    <div class="bar" [ngStyle]="style | sanitizeHtml:'style'">
      @for (phase of plant.calendar.phases; track phase) {
        <div
          [ngStyle]="{width: phase.percentDuration + '%'} | sanitizeHtml:'style'"
          [ngClass]="
            'phase ' + (this.plant.phase?.pos >= phase.pos ? '' : 'contrast')
          "
          [ngStyle]="
          {
            'background-color':
            (this.plant.phase?.pos >= phase.pos ?
              phase.dose.color :
              this.addAlpha(phase.dose.color, 0.1)
            )
          } | sanitizeHtml:'style'
          "
        >
          {{ phase.duration / 7 | number: "1.0-0" }}w
        </div>
      }
    </div>
  </ion-card-content>
</ion-card>
