<ion-segment class="segment-wrap">
  <ion-button class="ion-no-padding" size="small" fill="clear" (click)="filterData('day')">
    <ion-label>Today</ion-label>
  </ion-button>
  <ion-button class="ion-no-padding" size="small" fill="clear" (click)="filterData('week')">
    <ion-label>Last week</ion-label>
  </ion-button>
  <ion-button class="ion-no-padding" size="small" fill="clear" (click)="filterData('month')">
    <ion-label>Last month</ion-label>
  </ion-button>
  <ion-button class="ion-no-padding" size="small" fill="clear" (click)="filterData('beginning')">
    <ion-label>From start</ion-label>
  </ion-button>

</ion-segment>
<div class="chart-container" style="position: relative; height:140px; width:100%">

  <app-chart [data]='chartConfig.data' #chart [options]='chartConfig.options' [type]='chartConfig.type'></app-chart>
</div>
