<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        
        <ion-title>Add/edit {{ page }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="form"  [hidden]=" !showForm ">
        <ion-input type="hidden" formControlName="id"></ion-input>
        <ion-input type="hidden" formControlName="deleted"></ion-input>
        <ion-input type="hidden" formControlName="lastUpdate"></ion-input>
            
        <ion-item>
            <ion-label color="primary">{{ 'translate.global.name' | translate }}</ion-label>
            <ion-input type="text" text-right placeholder="{{ 'translate.global.name' | translate }}" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.global.enabled' | translate }}</ion-label>
            <ion-toggle formControlName="enabled"></ion-toggle>
        </ion-item>

        <ion-button color="primary" expand="block" (click)="saveForm()" [hidden]=" !showForm " [disabled]=" !isReadyToSave ">
                {{ 'translate.global.submit' | translate }}
        </ion-button>
    </form>

</ion-content>
    