<!-- <ion-card class="ion-padding ion-no-padding-top ion-no-padding-left">
  <!-- <ion-card-title class="ion-padding-bottom ion-no-padding-left">Schedule</ion-card-title> -->
  <!-- <ion-card-content class="ion-no-padding"> -->

    <div *ngIf =" plant.expanded ">
      <ion-segment class="segment-wrap">
        <ion-button class="ion-no-padding" size="small" fill="clear" *ngFor="let day of chartConfig; let dayIndex = index" (click)=" setDayVisualization(dayIndex) ">
          <ion-label [NgClass]=" (dayIndex >= 5 ? 'weekend' : '') + ' daySchedule ' + ((actualDayIndex > 0 ? actualDayIndex-1 : 6) === dayIndex ? 'selected' : '')">{{daysOfWeek[dayIndex].key}}</ion-label>
        </ion-button>
      </ion-segment>
      <div class="schedule" [hidden]="(actualDayIndex === dayIndex ? false : true)"
        *ngFor="let day of chartConfig; let dayIndex = index">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="3" class="ion-no-padding"></ion-col>
            <ion-col size="9" class="ion-no-padding">
              <div class="container">
                <div [NgClass]="'hour title ' + (index === 0 ? 'first' : '') "
                *ngFor="let hour of hoursOfDay; let index = index">
                  {{ hour }}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngFor="let peripheral of day.data.datasets">

          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="3" class="ion-no-padding ion-no-wrap">
                <span *ngIf="peripheral.data[0].icon" [style.color]="'#' + peripheral.data[0].color ">
                  <fa-icon [fixedWidth]="true" class="ion-no-padding" [icon]="peripheral.data[0].icon"></fa-icon>
                </span>
                <span class="text" [innerHTML]="peripheral.data[0].element"></span>
              </ion-col>
              <ion-col size="9" class="ion-no-padding">
                <div class="container">
                  <div
                    *ngFor="let hour of hoursOfDay; let index = index"
                    [title]="(peripheral.data[0].scheduleType === 2 ?
                      (peripheral.data[0].hourValues.includes(+hour) ? hour + ':' + peripheral.data[0].atMinute : '') :
                      (+peripheral.data[0].hourValues[0] <= +hour && +hour < +peripheral.data[0].hourValues[1] ? hour + ':' + peripheral.data[0].atMinute : '')
                    )"

                    [NgClass]="
                    (peripheral.data[0].operatingMode >= room.operatingMode ? '' : ' disabled ') +
                    'hour '+ 'c_'+peripheral.data[0].color +' type_' + peripheral.data[0].scheduleType + ' ' +
                    (peripheral.data[0].scheduleType === 2 ?
                      (peripheral.data[0].hourValues.includes(+hour) ? 'onBefore' : '') :
                      (+peripheral.data[0].hourValues[0] <= +hour && +hour < +peripheral.data[0].hourValues[1] ? 'on' : '')
                    ) + (index === 0 ?' first ' : '')"
                    ><span class="hide">{{ hour }}</span>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>

  <!-- </ion-card-content>
</ion-card> -->
