ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: left;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

.ion-padding.ion-no-padding-right { padding-right: 0; }
.ion-padding.ion-no-padding-left { padding-left: 0; }

app-range { width: 100%;}

  ion-card { width: 100%; }

  ::ng-deep .item-native { padding-left: 0!important;}

  .toggle { zoom:0.8 }
