<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding">
      <div class="Ripen_{{ dose?.id }}"></div>
      <div class="Bloom_{{ dose?.id }}"></div>
      <div class="Micro_{{ dose?.id }}"></div>
      <div class="Grow_{{ dose?.id }}"></div>
      <div class="pHDown_{{ dose?.id }}"></div>
      <div class="Water_{{ dose?.id }}"></div>
    </ion-col>
    <ion-col class="ion-no-padding" size="1">
      <div class="doses" [ngStyle]="styleDoses"></div>
      <div class="" [ngStyle]="stylePhDown"></div>
      <div class="" [ngStyle]="styleWater"></div>
    </ion-col>
  </ion-row>
</ion-grid>
