<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Add/edit {{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="canvasContainer">
    <app-chart [chartConfig]="chart.chartConfig"></app-chart>
  </div>

  <form [formGroup]="form" [hidden]="!showForm">
    <ion-input type="hidden" formControlName="id"></ion-input>
    <ion-input type="hidden" formControlName="deleted"></ion-input>
    <ion-input type="hidden" formControlName="lastUpdate"></ion-input>

    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-item>
            <ion-label i18n color="primary">Name</ion-label>
            <ion-input
              i18n
              type="text"
              text-right
              placeholder="Name"
              formControlName="name"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label i18n color="primary">color</ion-label>
            <ion-button
              slot="end"
              [color]="color?.key"
              (click)="pickColor($event, color)"
              >&#x22ee;</ion-button
            >
            <ion-input type="hidden" formControlName="color"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label i18n color="primary">gro</ion-label>
            <ion-input
              type="text"
              text-right
              i18n
              placeholder="gro"
              formControlName="gro"
              id="gro"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label i18n color="primary">micro</ion-label>
            <ion-input
              type="text"
              text-right
              i18n
              placeholder="micro"
              formControlName="micro"
              id="micro"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label i18n color="primary">bloom</ion-label>
            <ion-input
              type="text"
              text-right
              i18n
              placeholder="bloom"
              formControlName="bloom"
              id="bloom"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label i18n color="primary">ripen</ion-label>
            <ion-input
              type="text"
              text-right
              i18n
              placeholder="ripen"
              formControlName="ripen"
              id="ripen"
            ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label i18n color="primary">EC</ion-label>
            <ion-input
              type="text"
              text-right
              i18n
              placeholder="EC"
              formControlName="EC"
              id="EC"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label i18n color="primary">Enabled</ion-label>
            <ion-toggle formControlName="enabled"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button
      i18n
      color="primary"
      expand="block"
      (click)="saveForm()"
      [hidden]="!showForm"
      [disabled]="!isReadyToSave"
    >
      Submit
    </ion-button>
  </form>
</ion-content>
