<ion-header>
    <ion-navbar>
        <ion-title>
            Plants
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentFilterPage($event)">
                <ion-icon name="options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list [hidden]="plants.length == 0" [approxItemHeight]=" '140px' " [virtualScroll]="plants" [virtualTrackBy]="identify">
        <ion-item-sliding *virtualItem="let plant">
            <div ion-item class="item item-text-wrap">
                <ion-grid>
                    <ion-row>
                        <ion-col col-9>
                            <h2>{{ plant.strain.name }} </h2>
                        </ion-col>
                        <ion-col col-3 text-right class="percent"> 
                            <span>{{ plant.strain.percent_sativa >= 50 ? plant.strain.percent_sativa : 100-plant.strain.percent_sativa }}% {{ plant.strain.percent_sativa >= 50 ? "Sativa" : "Indica" }}</span>
                            <ion-img width="14" height="14" src="assets/icons/sativa.png" [hidden]=" plant.strain.percent_sativa < 66 "></ion-img><ion-img width="14" height="14" src="assets/icons/ibrida.png" [hidden]=" (plant.strain.percent_sativa >= 66 || plant.strain.percent_sativa < 33) "></ion-img><ion-img width="14" height="14" src="assets/icons/indica.png" [hidden]=" plant.strain.percent_sativa >= 33 "></ion-img>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-3 (click)="toggleItem(plant)" class="item-expand-footer">
                            <div *ngIf="!plant.man_tasks[(plant.man_tasks).length-1].day">
                                <ion-img width="14" height="14" src="assets/icons/{{ plant.calendar_macrotask_image }}.png" ></ion-img>
                                {{ plant.calendar_macrotask_date | countTimeFromDatePipe:'days' }} D
                            </div>
                            <div *ngIf="plant.man_tasks[(plant.man_tasks).length-1].day">
                                <ion-icon class="danger" name="clock"></ion-icon>
                                {{ plant.man_tasks[(plant.man_tasks).length-1].day - plant.man_tasks[0].day | countTimeFromDatePipe:'weeks' }} W Tot
                            </div>
                        </ion-col>
                        <ion-col col-7 class="{{ plant.tasks_class }}">
                            <ion-img width="14" height="14" src="assets/icons/{{ plant.tasks_icon }}.png" ></ion-img> 
                            {{ plant.tasks_alert }} <small>( {{ plant.tasks_time | countTimeFromDatePipe:'weeks' | convertToSentence }} )</small>
                        </ion-col>
                        <ion-col col-2 text-right *ngIf="plant.grams"> 
                            <h2><ion-img width="14" height="14" src="assets/icons/grams.png" ></ion-img>{{ plant.grams }}</h2>
                        </ion-col>
                        <ion-col col-2 text-right *ngIf="!plant.grams"> 
                            <ion-img width="14" height="14" src="assets/icons/qr-code.png" ></ion-img> 2
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                           
                            <small><ion-icon name="calendar"></ion-icon> {{ plant.man_tasks[0].day | formatDatePipe:'DD MMM YY' }} / <i [class]="(plant.man_tasks[(plant.man_tasks).length-1].day ? '':'estimated')">{{ (plant.man_tasks[(plant.man_tasks).length-1].day ? plant.man_tasks[(plant.man_tasks).length-1].day : plant.man_tasks[(plant.man_tasks).length-1].estimated_day ) | formatDatePipe:'DD MMM YY' }}</i></small>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 [class]="isItemShown(plant) ? 'item-expand active' : 'item-expand inactive'"> 
                            <div>
                                <!-- <ul class="progress-indicator">
                                    <li class="completed"> <span class="bubble"></span> Step 1. </li>
                                    <li class="completed"> <span class="bubble"></span> Step 2. </li>
                                    <li> <span class="bubble"></span> Step 3. </li>
                                    <li> <span class="bubble"></span> Step 4. </li>
                                    <li> <span class="bubble"></span> Step 5. </li>
                                </ul> -->
                                <ul class="progress-indicator">
                                    <li *ngFor="let task of plant.man_tasks" [class]="(task.day?'completed':'')"><span [class]="(task.mandatory ? 'mandatory bubble' : 'bubble')"></span> {{task.name}}</li>
                                </ul>
                            </div>
                        </ion-col>
                    </ion-row>    
                </ion-grid>
            </div>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="editItem(plant)">
                    <ion-icon name="edit"></ion-icon>
                    Edit
                </button>
                <button ion-button color="danger" (click)="deleteItem(plant)">
                    <ion-icon name="delete"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <!-- <button ion-button color="primary" (click)="presentActionSheet()">
        <ion-icon name="add"></ion-icon>
            Add
        </button> -->
    </ion-list>
    
</ion-content>
