<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button
          ><ion-icon slot="icon-only" name="menu"></ion-icon
        ></ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{ table }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/{{ table }}/create"
        ><ion-icon name="add-circle"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    
  <app-filter-bar 
  [config]="formDefinition" (emitChange)="filterList()"
  ></app-filter-bar>




  <ion-card [hidden]="!room?.visible" *ngFor="let room of rooms">
          <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="5">
                <ion-card-title class="ion-no-padding">{{room?.name}}</ion-card-title>
            </ion-col>
              <ion-col size="7">
                <ion-segment *ngIf="!room?.isHarvested && !room?.isNursery">
                  <ion-button [disabled]="!room?.serialNumber || !room?.workersComponents?.nutrientRefill" class="btn" fill="clear" size="small" (click)="shuffleNutrient(room?.workersComponents?.nutrientRefill)">
                    Doses Shuffle
    
                  </ion-button>
    
                  <ion-button [disabled]="!room?.serialNumber || !room?.workersComponents?.phDown" class="btn" fill="clear" size="small" (click)="shufflePhDown(room?.workersComponents?.phDown)">
                    pH↓ Shuffle
                  </ion-button>
              </ion-segment>
    
            </ion-col>
              <ion-col size="4">
                <ion-item class="ion-no-padding" *ngIf="room?.workersComponents?.light">
                  <ion-icon color="primary" name="bulb"></ion-icon>
                  <ion-toggle class="toggle" [disabled]="!room?.serialNumber" (ngModelChange)=" toggleLight(room?.workersComponents?.light) " [(ngModel)]="room?.workersComponents?.light.status" color="primary"></ion-toggle>
              </ion-item>
            </ion-col>
              <ion-col size="4">
                <ion-item class="ion-no-padding" *ngIf="room?.workersComponents?.fan">
                  <ion-icon color="primary" name="help-buoy"></ion-icon>
                  <ion-toggle class="toggle" [disabled]="!room?.serialNumber" (ngModelChange)=" toggleFan(room?.workersComponents?.fan) " [(ngModel)]="room?.workersComponents?.fan.status" color="primary"></ion-toggle>
              </ion-item>
            </ion-col>
              <ion-col size="4">
    
                <ion-item *ngIf="!room?.isHarvested && !room?.isNursery">
    
                  <ion-select [disabled]="!room?.serialNumber" [value]=" room?.operatingMode" (ionChange)=" setRoomStatus($event, room) "  okText="Okay" cancelText="Dismiss">
                    <ion-select-option *ngFor="let mode of room?.operatingModes" [value]="mode.value">{{mode.name}}</ion-select-option>
                </ion-select>
              </ion-item>
    
            </ion-col>
              <ion-col size="12">
    
                <ion-item class="ion-no-padding" *ngIf="room?.probesComponents?.airtemp" class="ion-no-padding" style="--inner-padding-end: 0 !important;">
                  Air&nbsp;T°<fa-icon [fixedWidth]="true" icon="temperature-half"></fa-icon>
                  <app-range [minValue]="room?.probesComponents?.airtemp?.type.minAcceptableValue" [maxValue]="room?.probesComponents?.airtemp?.type.maxAcceptableValue" [minWarningValue]="room?.probesComponents?.airtemp?.type.minWarningValue" [maxWarningValue]="room?.probesComponents?.airtemp?.type.maxWarningValue" [value]="room?.probesComponents?.airtemp?.value" [um]="room?.probesComponents?.airtemp?.type.um"></app-range>
                  <ion-button fill="clear" size="small" (click)="read(room?.probesComponents?.airtemp)">
                    <fa-icon [fixedWidth]="true" icon="eye"></fa-icon>
                </ion-button>
              </ion-item>
    
            </ion-col>
          </ion-row>
    
        </ion-grid>
        </ion-item>
    
          



  <ion-list>
    @for (item of items; track item.id) {
      <ion-item-sliding #slidingItem>
        <ion-item>
          <ion-label>
            <ion-item lines="none" (click)="showDetail(item)">
              <div padding>
                <ion-title no-padding>
                  <ion-icon name="flower" slot="start"></ion-icon>
                  {{ item?.strain?.name }}
                </ion-title>

                <div [hidden]="!item.dayHarvest">
                  <span i18n>Day harvest</span> {{ item?.dayHarvest }}
                </div>
                <div [hidden]="!item.dayStartBloom">
                  <span i18n>Start bloom</span> {{ item?.dayStartBloom }}
                </div>
                <div [hidden]="!item.dayStartGrow">
                  <span i18n>Start grow</span> {{ item?.dayStartGrow }}
                </div>
              </div>

              <div slot="end" class="canvasContainer">
                <app-chart [chartConfig]="item.chartConfig"></app-chart>
              </div>
            </ion-item>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option i18n (click)="showDetail(item)">Edit</ion-item-option>
          <ion-item-option i18n (click)="deleteItem(item)" color="danger"
            >Delete</ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>
</ion-content>
