<ion-card class="ion-padding ion-no-padding-top">
  <ion-card-title class="ion-padding-bottom">Actions</ion-card-title>
  <ion-card-content class="ion-no-padding">
    <ion-segment>
      <ion-button class="btn" fill="clear" size="small" (click)="toggleWaterRecycle(workers?.waterLoop)">
        H<sub>2</sub>O <fa-icon [fixedWidth]="true" icon="arrows-rotate"></fa-icon>
      </ion-button>
      <ion-button class="btn" fill="clear" size="small" (click)="fillWaterLevel(workers?.refill?.id)">
        H<sub>2</sub>O <fa-icon [fixedWidth]="true" icon="fill"></fa-icon>
      </ion-button>
      <ion-button class="btn" fill="clear" size="small" (click)="fillPhDown(workers?.refill?.id)">
        pH↓ <fa-icon [fixedWidth]="true" icon="fill"></fa-icon>
      </ion-button>
      <ion-button class="btn" fill="clear" size="small" (click)="fillNutrient(workers?.refill?.id)">
        Dose <fa-icon [fixedWidth]="true" icon="fill"></fa-icon>
      </ion-button>
    </ion-segment>
  </ion-card-content>
</ion-card>
