<div class="header">
    <div class="toolbar">
        <button slot="start">
           
                <button><i slot="icon-only" name="menu"></i></button>
           
        </button>
        <div class="title">{{ table }}</div>
        <button slot="end">
            <button routerLink="/{{ table }}/create"><i name="add-circle"></i></button>
        </button>
    </div>
</div>

<div class="content">
    <div class="refresher" (ionRefresh)="doRefresh($event)">
        <div class="content-refresher"></div>
    </div>

    <form [formGroup]="form"  [hidden]=" !showForm ">
        <input type="hidden" formControlName="id" />
        <input type="hidden" formControlName="deleted" />
        <input type="hidden" formControlName="lastUpdate" />
        
        <div class="grid">
            <div class="row">
                <div class="col" size='8'>
                    <label i18n color="primary">Name</label>
                    <input type="text" text-right i18n placeholder="Name" formControlName="name" />
                </div>
                <div class="col" size='4'>
                    <label i18n color="primary">Enabled</label>
                    <input type="radio" formControlName="enabled" />
                </div>
            </div>
        </div>

        <div class="card">
            <div class="toolbar">
                <div slot="end">
                    <div>
                        <button (click)=' showSubForm = true '><i name="add-circle"></i></button>
                    </div>
                </div>
            </div>

            <form padding [hidden]=" !showSubForm ">
                <div class="grid">
                    <div class="row">
                        <div class="col" size='5'>
                            
                            <label i18n color="primary">Phase</label>
                            <select i18n [(ngModel)]="newPhase.phase" name='phase' placeholder="Phase">
                                @for (phase of phases; track phase.id) {    
                                    <option [value]="phase.id">{{phase.name}}</option>
                                }
                            </select>
                            
                        </div>
                        <div class="col" size='5'>
                            
                            <label i18n color="primary">Duration</label>
                            <input i18n [(ngModel)]="newPhase.duration" name='duration' type="number" text-right placeholder="Duration" />
                            
                        </div>
                        <div class="col" size='2'>
                            <button i18n color="primary" (click)="addPhase()">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <ul>
                
                    @for (phase of relatedPhases; track phase.id) {
                        <li>
                            <label>{{ phase.name }}</label>
                            

                            <div slot="end" class="canvasContainer">
                                <app-chart [chartConfig]="phase.chartConfig"></app-chart>
                            </div>

                            <div slot="end"> 
                                {{ phase.duration }} <span i18n>Days</span>
                            </div>
                        
                        
                        
                            <button i18n (click)="deleteItem(phase)" color="danger">Delete</button>
                        </li>
                    }
            </ul>
        </div>
        
        <button i18n color="primary" expand="block" (click)="saveForm()" [hidden]=" !showForm " [disabled]=" !isReadyToSave ">
            Submit
        </button>
    </form>

</div>
    