<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        
        <ion-title>
            <span [hidden]=' elementId '>Add</span>
            <span [hidden]=' !elementId '>Edit</span> {{ page }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <report [default]=" default " [subject]=" plant.id_pot "></report>

    <form [formGroup]="form"  [hidden]=" !showForm ">
        <ion-input type="hidden" formControlName="id"></ion-input>
        <ion-input type="hidden" formControlName="deleted"></ion-input>
        <ion-input type="hidden" formControlName="lastUpdate"></ion-input>

        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.plants.detail.form.strain' | translate }}</ion-label>
            <ion-select placeholder="{{ 'translate.pages.plants.detail.form.strain' | translate }}" formControlName="id_strain">
                <ion-select-option *ngFor="let strain of strains" [value]="strain.id">{{strain.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        
        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.plants.detail.form.generation' | translate }}</ion-label>
            <ion-input type="number" text-right placeholder="{{ 'translate.pages.plants.detail.form.generation' | translate }}" formControlName="generation"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.plants.detail.form.day_start_grow' | translate }}</ion-label>
            <ion-datetime placeholder="{{ 'translate.pages.plants.detail.form.day_start_grow' | translate }}" formControlName="day_start_grow"></ion-datetime>
        </ion-item>
        
        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.plants.detail.form.revenue' | translate }}</ion-label>
            <ion-input type="number" text-right placeholder="{{ 'translate.pages.plants.detail.form.revenue' | translate }}" formControlName="revenue"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.plants.detail.form.alerts' | translate }}</ion-label>
            <ion-input type="text" text-right placeholder="{{ 'translate.pages.plants.detail.form.alerts' | translate }}" formControlName="alerts"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.plants.detail.form.id_company' | translate }}</ion-label>
            <ion-select formControlName="id_company" placeholder="{{ 'translate.pages.plants.detail.form.id_company' | translate }}">
                <ion-select-option *ngFor="let company of companies" [value]="company.id">{{company.name}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.plants.detail.form.id_growing_scenario' | translate }}</ion-label>
            <ion-select formControlName="id_growing_scenario" placeholder="{{ 'translate.pages.plants.detail.form.id_growing_scenario' | translate }}">
                <ion-select-option *ngFor="let g_scenario of g_scenarios" [value]="g_scenario.id">{{g_scenario.name}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.pages.plants.detail.form.id_growing_medium' | translate }}</ion-label>
            <ion-select formControlName="id_growing_medium" placeholder="{{ 'translate.pages.plants.detail.form.id_growing_medium' | translate }}">
                <ion-select-option *ngFor="let g_medium of g_mediums" [value]="g_medium.id">{{g_medium.name}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label color="primary">{{ 'translate.global.enabled' | translate }}</ion-label>
            <ion-toggle formControlName="enabled"></ion-toggle>
        </ion-item>

        <ion-button color="primary" expand="block" (click)="saveForm()" [hidden]=" !showForm " [disabled]=" !isReadyToSave ">
                {{ 'translate.global.submit' | translate }}
        </ion-button>
    </form>

</ion-content>
