<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="goBack()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>

      <ion-title>
          <span [hidden]=' elementId '>Add</span>
          <span [hidden]=' !elementId '>Edit</span> {{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-report [default]=" default " [subject]=" plant.id_pot "></app-report>

  <form [formGroup]="form"  [hidden]=" !showForm ">
      <ion-input type="hidden" formControlName="id"></ion-input>
      <ion-input type="hidden" formControlName="deleted"></ion-input>
      <ion-input type="hidden" formControlName="lastUpdate"></ion-input>

      <ion-item>
          <ion-label i18n color="primary">Strain</ion-label>
          <ion-select i18n placeholder="Strain" formControlName="id_strain">
              @for (strain of strains; track strain.id) {
                  <ion-select-option [value]="strain.id">{{strain.name}}</ion-select-option>
              }
          </ion-select>
      </ion-item>

      <ion-item>
          <ion-label i18n color="primary">Generation</ion-label>
          <ion-input i18n type="number" text-right placeholder="Generation" formControlName="generation"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label i18n color="primary">Day start grow</ion-label>
          <ion-datetime i18n placeholder="Day start grow" formControlName="day_start_grow"></ion-datetime>
      </ion-item>

      <ion-item>
          <ion-label i18n color="primary">Revenue</ion-label>
          <ion-input i18n type="number" text-right placeholder="Revenue" formControlName="revenue"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label i18n color="primary">Alerts</ion-label>
          <ion-input i18n type="text" text-right placeholder="Alerts" formControlName="alerts"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label i18n color="primary">Id Company</ion-label>
          <ion-select i18n formControlName="id_company" placeholder="Id Company">
              @for (company of companies; track company.id) {
                  <ion-select-option [value]="company.id">{{company.name}}</ion-select-option>
              }
          </ion-select>
      </ion-item>

      <ion-item>
          <ion-label i18n color="primary">Id growing scenario</ion-label>
          <ion-select i18n formControlName="id_growing_scenario" placeholder="Id growing scenario">
              @for (g_scenario of g_scenarios; track g_scenario.id) {
                  <ion-select-option [value]="g_scenario.id">{{g_scenario.name}}</ion-select-option>
              }
          </ion-select>
      </ion-item>

      <ion-item>
          <ion-label i18n color="primary">Id growing medium</ion-label>
          <ion-select i18n formControlName="id_growing_medium" placeholder="Id growing medium">
              @for (g_medium of g_mediums; track g_medium.id) {
                  <ion-select-option [value]="g_medium.id">{{g_medium.name}}</ion-select-option>
              }
          </ion-select>
      </ion-item>

      <ion-item>
          <ion-label i18n color="primary">Enabled</ion-label>
          <ion-toggle formControlName="enabled"></ion-toggle>
      </ion-item>

      <ion-button i18n color="primary" expand="block" (click)="saveForm()" [hidden]=" !showForm " [disabled]=" !isReadyToSave ">
          Submit
      </ion-button>
  </form>

</ion-content>
