.label {
  font-size: 14px;
}
ion-card { height:100% }

// ion-tabs { position:relative }
// ::ng-deep .tabs-inner, ::ng-deep .tabs-inner * { display:none; height:0 }

.ion-no-margin-top { margin-top:0}
.ion-no-padding-bottom { padding-bottom: 0; }
